progress,
sub,
sup {
  vertical-align: baseline;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  min-height: 100%;
  line-height: 1.5;
}
:where(blockquote, figure, fieldset):where([class]),
body {
  margin: 0;
}
b,
strong {
  font-weight: bolder;
}
a,
code,
span {
  box-decoration-break: clone;
}
code,
kbd,
pre,
samp {
  font-family:
    ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
:where(ul, ol):where([class]) {
  padding-left: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}
:where(dd[class]) {
  margin-left: 0;
}
:where(fieldset[class]) {
  padding: 0;
  border: none;
}
:where(ul[class]) {
  list-style: none;
}
:where(address[class]) {
  font-style: normal;
}
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
canvas,
img,
picture,
video {
  height: auto;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  color: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
textarea {
  resize: vertical;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
legend {
  padding: 0;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}
a:where([class]) {
  display: inline-flex;
}
button,
label {
  cursor: pointer;
}
button {
  -webkit-tap-highlight-color: transparent;
}
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}
svg * {
  transition-property: fill, stroke;
}
summary {
  display: list-item;
}
@media (prefers-reduced-motion: reduce) {
  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
[hidden] {
  display: none !important;
}
